{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "teach/smarton/base.html" %}

{% block page_title %}{{_('Get smart on...')}}{% endblock %}
{% block page_desc %}{{_('Get smart on...')}}{% endblock %}
{% block body_id %}smarton-landing{% endblock %}
{% block body_class %}smarton landing{% endblock %}

{% block smarton_content %}
<main role="main" class="section">
  <div class="content">

    <ul class="smarton-topics">
      <li class="topic-privacy">
        <a href="{{ url('teach.smarton.privacy') }}">
          <h2 class="topic-title">{{ _('Privacy') }}</h2>
          <p>{{ _('What you do online is your business. And what you know can keep others from knowing too much.') }}</p>
        </a>
      </li>
      <li class="topic-security">
        <a href="{{ url('teach.smarton.security') }}">
          <h2 class="topic-title">{{ _('Cybersecurity') }}</h2>
          <p>{{ _('Look both ways, stay up to date, and take a stronger stab at those passwords.') }}</p>
        </a>
      </li>
      <li class="topic-surveillance">
        <a href="{{ url('teach.smarton.surveillance') }}">
          <h2 class="topic-title">{{ _('Government Surveillance') }}</h2>
          <p>{{ _('Decide where you think the line should be – and help keep it from getting crossed.') }}</p>
        </a>
      </li>
    </ul>

    <div class="feature">
      <h3>Smarter by the Step</h3>
      <p>ASK &gt; LEARN &gt; ACT &gt; DISCUSS</p>
      <p>The more you know, the more you can do to improve your online experience.</p>
    </div>

  </div>
</main>
{% endblock %}
